@import 'fonts.css';
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.recipe {
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  width: 50%;
  min-height: 100%;
  padding: 30px;
}

.header {
  display: flex;
  margin: 10px 0;
  align-items: center;

}

button {
  margin-left: 15px;
  border: none;
  padding: .5em;
  border-radius: 5px;
  background: none;
  cursor: pointer;
  height: 100%;
}

button:nth-of-type(1) {
  background: aqua;
}
button:nth-of-type(2) {
  background: red;
}

button:nth-of-type(1):hover {
  background: rgb(24, 187, 187);
}
button:nth-of-type(2):hover {
  background: rgb(208, 23, 23) ;
}


.body {
  padding: 10px
}

h2 {
  margin: 10px 0;
}

.list li {
  list-style-position: inside;
}

.footer {
  display:flex;
  flex-direction: column;
}


.footer-items {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
}


.footer-items span:nth-child(2) {
  transform: translateX(-80%);
}


