.edit-recipe {
  position: fixed;
  top: 0;
  right: 0;
  width: 50%;
  margin: 10px 0;
  padding: 5px;
}

.btn-wrapper {
  display: flex;
  justify-content: flex-end;
}
.exit-btn {
  margin-right: 10px;
}

/* FORM CSS */

.recipe-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.form-input {
  display: grid;
  row-gap: 10px;
  column-gap: 40px;
  grid-template-columns: auto 1fr;
  margin: 10px 0;
}

.form-input label {
  font-size: large;
  font-family: 'Courier New', Courier, monospace;
}

.form-input input {
  width: 50%;
}

.form-input textarea {
  resize: none;
  width: 50%;
  height: 100px;
}

.ingredients-wrapper {
  display: flex;
  flex-direction: column;
}

.name {
  display: flex;
  margin-top: 10px;
  width: 30%;
  justify-content: space-between;
}



